.wrapper {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  padding-bottom: 5px;
}

.label {
  width: 15vw;
}

@media print {
  .label {
    width: 20vw;
  }
}

.value {
  white-space: break-word;
}

.picture {
  border: 1px solid black;
  height: 200px;
}
