.wrapper {
  display: flex;
  width: 100%;
}

.wrapper-spacer {
  height: 5px;
}

.content {
  flex-grow: 1;
}

.date-range {
  width: 80px;
  min-width: 80px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}
