.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
}

.header-component {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.header-component > .header-icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.header-icon {
  color: #771821;
}
